*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}
.dark-theme{
    --primary-color: #212121; 
    --secondary-color:#edf2fc;;
}
body{
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    overflow: hidden;
}
.container{
    width: 95%;
    height: 100vh;
    margin-left: 60px;
}
header{
    width: 100%;
    min-height: 50px;
    margin: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 100px;
    height: 80px;
}
ul {
    display: flex;
    align-items: center;
}
ul li{
    margin: 0 10px ;
    font-size: 25px;
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: var(--secondary-color);
    padding: 5px 10px;
}
ul > a > img{
    width: 50px;
    left: 50px;
    margin-left: 10px;
}
.content{
    position: absolute;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.content h2{
    font-size: 60px;
    line-height: 80px;
}
.content p{
    font-size: 30px;
}
.content span{
    color: #9767cd;
}
.content button{
    padding: 8px 14px;
    color: var(--primary-color);
    font-size: 20px;
    margin: 15px 0 0 15px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background: linear-gradient(135deg,rgb(0, 162, 255),rgb(4, 231, 171));
}

#mou{
    position: absolute;
    top: 13%;
    right: 14%;
    width: 430px;
    height: 600px;
    z-index: 10;
    transition: .8s;
    cursor: grab;
}

#pattern{
    position: absolute;
    top: 8%;
    right: 10%;
    width: 530px;
    height: 700px;
    transition: .8s;
    cursor: grab;
}
.content > h3{
    position: absolute;
    bottom: -20%;
    left: 0%;
    font-weight: 900;
    font-size: 45px;
}
.part-2:hover #pattern{
    right: 9%;
}
.part-2:hover #mou{
    top: 5%;
}